// our-projects
.our-projects-list {
  display: flex;
}
.our-projects-list__image {
  // width: 370px;
  flex-basis: calc(100% / 3);
}
.our-projects-list__item:not(:nth-child(3n)) {
  margin-right: $item-list-gap;
}
// our-projects-headline
.our-projects-list__headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}
.our-projects-list__item {
  position: relative;
}
