// modal
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  max-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transition: var(--transition-time-and-function);
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  padding: 5px;
  margin-top: 7px;
  margin-right: 8px;
  position: absolute;
}
.modal-form {
  padding: 40px;
  text-align: center;
}
.modal-form__paragraph {
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}
.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-black-color);
  text-align: left;
}
.modal-form__field textarea {
  width: 448px;
  height: 127px;
}
.modal-form__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-12px) translateX(12px);
}
.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  min-height: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 12px;
  padding-left: 42px;
  outline: none;
}
.modal-form__input:focus-within,
.modal-form__input:hover {
  border: 1px solid var(--accent-color);
  transition: var(--transition-time-and-function);
}
.modal-form__input:focus-within + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
  transition: var(--transition-time-and-function);
}
.modal-form__field label {
  margin-bottom: 4px;
}
.modal-form__field .modal-form__input:last-child {
  padding: 12px 16px;
}
.modal-form__policy-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  display: inline-block;
}
.modal-form__checkbox-field label {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--secondary-black-color);
}
.modal-form__checkbox-field {
  margin-bottom: 30px;
}
.modal__close-button:hover .modal-close__icon,
.modal__close-button:focus .modal-close__icon {
  fill: var(--accent-color);
}

.modal-form__policy-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-black-color);
  border-radius: 4px;
  transition: var(--transition-time-and-function);
}
.modal-form__policy-field:checked + .modal-form__policy-label::before {
  background-image: url(../images/modal/tick-icon.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
