:root {
  --primary-black-color: #212121;
  --secondary-black-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --accent-color: #2196f3;
  --header-border-color: #ececec;
  --footer-white-color: rgba(255, 255, 255, 0.6);
  --portfolio-border-color: #eeeeee;
  --item-list-gap: 30px;
  --icon-color: #afb1b8;
  --footer-social-icon-bg: rgba(255, 255, 255, 0.1);
  --transition-time-and-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
